:root {
  --main-light: #fb263b;
  --main: #bf0417;
  --main-dark: #850310;
  --light: #ffffff;
  --grey-light: #9c9c9c;
  --grey-dark: #505050;
  --text: #0f0f0f;
  --scroll-thumb: var(--grey-dark);
  --scroll-track: var(--light);
  --border: solid 1px var(--grey-light);
  --border-focus: solid 1px var(--main);
  --border-radius: 10px;
  --shadow: #43475545 0px 0px 0.25em, #5a7dbc0d 0px 0.25em 1em;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  font-size: 0.95rem;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--light);
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb) var(--scroll-track);
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--scroll-thumb);
}
